# Зависимости (Node.js / React)
node_modules/
npm-debug.log*
yarn-debug.log*
dist/
build/

# Логи и кэш разработки
*.log
.eslintcache
.parcel-cache

# Конфиденциальные файлы (ключи API, доступы к БД)
.env
.env.local
.env.development.local

# Системные файлы операционных систем
.DS_Store
Thumbs.db
.vscode/
